body {
  font-family: sans-serif;
  margin: 0px;
}

table,
th,
td {
  border: 2px #000000 solid;
  border-collapse: collapse;
  text-align: center;
}

td.flex {
  border: none;
  border-bottom: 1px #000000 solid;
  border-top: 1px #000000 solid;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.position {
  display: flex;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: gray;
  color: white;
}

.header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-img {
  width: 2rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.position > aside {
  width: 20%;
  min-width: 10rem;
}

.nav {
  min-width: 10rem;
  padding: 1rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  padding: 1rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  width: clamp(20rem, 50vw, 30rem);
  margin: 1rem;
  min-height: 20rem;
}

.modal-warn {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem !important;
  width: auto !important;
  height: auto !important;
  min-height: 0 !important;
}

.message-wrapper,
.avatar-wrapper {
  position: fixed;
  top: 80px;
  right: 0;
  width: 300px;
  background-color: white;
  padding: 1rem;
  border: 2px #000000 solid;
  border-radius: 0.2rem;
  width: 20%;
  min-width: 10rem;
}

/* Utils */

.current{
  color: grey;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
}
