<template>
  <div :key="$route.path">
    <StudentHeader></StudentHeader>
  </div>

  <main class="flex-no-wrap">
    <StudentSidebar></StudentSidebar>
    <router-view />
  </main>
</template>

<script>
import './assets/global.css';
import StudentHeader from './components/StudentHeader.vue'
import StudentSidebar from './components/StudentSidebar.vue'

export default {
  name: 'App',
  components: {
    StudentHeader,
    StudentSidebar,
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
